@use 'global' as *;

.business {
    margin-top: rem(223);
    @include mq() {
        margin-top: rem(111);
    }
}

.business__inner.inner {
    max-width: 1290px;
}

.business__items {
    display: flex;
    justify-content: space-between;
    margin-top: rem(110);
    @include mq() {
        gap: rem(32);
        flex-direction: column;
        margin: rem(55) auto 0;
        max-width: rem(650);
    }
}

.business__item {
    border: 1px solid $main-black;
    border-radius: rem(10);
    width:  calc(50% - calc(rem(127) / 2));
    max-width: rem(557);
    padding: rem(64) rem(28) rem(35);
    min-height: rem(390);
    @include mq() {
        width: 100%;
        padding: rem(48) rem(20) rem(40);
        max-width: rem(650);
        min-height: rem(320);
    }
}

.business__subTl {
    font-size: rem(30);
    font-weight: $bold;
    line-height: calc(50 / 30);
    text-align: center;
    @include mq() {
        font-size: rem(24);
    }
}

.business__txt {
    margin-top: rem(43);
    letter-spacing: 0.1em;
    @include mq() {
        margin-top: rem(24);
    }
}