@use 'global' as *;

.company {
    margin-top: rem(286);
    @include mq() {
        margin-top: rem(143);
    }
}

.company__inner {

}

.inner {

}

.company__title {

}

.company__body {
    margin-top: rem(231);
    padding-top: rem(126);
    padding-bottom: rem(123);
    aspect-ratio: 1438/599;
    background: transparent url(../images/company/bg.webp) no-repeat center center / cover;
    position: relative;
    @include mq() {
        margin-top: rem(120);
    }
}

.company__subTl {
    font-size: rem(32);
    font-weight: $bold;
    line-height: calc(40 / 32);
    letter-spacing: 0.2em;
    max-width: rem(500);
    margin-right: auto;
    margin-left: auto;
}

.company__txt {
    margin: rem(74) auto 0;
    max-width: rem(780);
    @include mq() {
        margin-top: rem(37);
    }
}