@use 'global' as *;

.contact {
    padding-top: rem(86);
    padding-bottom: rem(121);
    margin-bottom: rem(101);
    @include mq() {
        padding-top: rem(43);
        padding-bottom: rem(60);
        margin-bottom: rem(50);
    }
}

.contact__body {
    margin: rem(71) auto 0;
    max-width: rem(903);
    display: flex;
    justify-content: space-between;
    @include mq() {
        margin-top: rem(35);
        align-items: center;
        flex-direction: column;
        gap: rem(32);
    }
}

.contact__contents {

}

.contact__txt {
    font-size: rem(18);
    line-height: calc(40 / 18);
    @include mq() {
        text-align: center;
    }
}

.contact__btn {
    max-width: rem(318);
    width: rem(318);
    @include mq() {
        width: 100%;
        max-width: rem(350);
    }
}