@use 'global' as *;

.detail-works {
    margin-top: rem(265);
    margin-bottom: rem(68);
    @include mq() {
        margin-top: rem(132);
        margin-bottom: rem(100);
    }
}

.detail-works__inner {

}

.inner {

}

.detail-works__title {

}

.detail-works__body {
    margin: rem(113) auto 0;
    max-width: rem(1127);
    @include mq() {
        max-width: rem(650);
        // margin-top: rem(56);
        margin-top: rem(80);
    }
}

.detail-works__subTl {
    margin-bottom: rem(34);
    font-size: rem(36);
    font-weight: $semi-bold;
    line-height: calc(50 / 36);
    @include mq() {
        font-size: rem(28);
        margin-bottom: rem(17);
    }
}

.detail-works__thumbs {
    aspect-ratio: 1127/695;
}

.detail-works__thumbs img {
    height: 100%;
    object-fit: cover;
}

.detail-works__label {
    margin-top: rem(128);
    @include mq() {
        margin-top: rem(64);
    }
}

.detail-works__item {
    display: flex;
    gap: rem(24);
    @include mq() {
        flex-direction: column;
        gap: rem(4);
    }
}

.detail-works__item + .detail-works__item {
    @include mq() {
        margin-top: rem(32);
    }
}

.detail-works__left {
    width: rem(86);
}

.detail-works__right {
    width: calc(100% - rem(86) - rem(24));
}

.detail-works__pagination {
    margin-top: rem(149);
    display: flex;
    justify-content: center;
    gap: rem(50);
    @include mq() {
        margin-top: rem(74);
    }
}

.detail-works__pagination a {
    font-size: rem(21);
    font-weight: $bold;
    line-height: calc(29 / 21);
    transition: all .3s ease 0s;
    position: relative;
    display: inline-block;
    @include mq() {
        font-size: rem(15);
    }
}

.detail-works__pagination a:hover {
    color: $accent;
}

.detail-works__pagination a:nth-of-type(1){
    padding-left: rem(28);
}

.detail-works__pagination a:nth-of-type(2){
    padding-right: rem(28);
}

.detail-works__pagination a::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: rem(21);
    font-weight: $bold;
    line-height: calc(29 / 21);
}

.detail-works__pagination a:nth-of-type(1)::before {
    content: '<';
    left: 0;
}

.detail-works__pagination a:nth-of-type(2)::before {
    content: '>';
    right: 0;
}

.detail-works__btn {
    max-width: rem(200);
    margin: rem(54) auto 0;
}