@use 'global' as *;

.label {
    display: flex;
    gap: rem(36);
    padding: rem(91) rem(16) rem(37);
    @include mq() {
        flex-direction: column;
        gap: rem(16);
        padding: rem(48) rem(8) rem(40);
    }
}

.label__left {
    width: rem(224);
    @include mq() {
        width: 100%;
    }
}

.label__title {
    color: $black;
}

.label__right {
    width: calc(100% - rem(224) - rem(36));
    @include mq() {
        width: 100%;
    }
}