@use 'global' as *;

.sub-company {
    margin-top: rem(289);
    margin-bottom: rem(194);
    @include mq() {
        margin-top: rem(144);
        margin-bottom: rem(97);
    }
}

.sub-company__label {
    margin-top: calc(rem(118) - rem(91));
    @include mq() {
        margin-top: calc(rem(59) - rem(48));
        margin-right: auto;
        margin-left: auto;
        max-width: rem(650);
    }
}