@use 'global' as *;

.sub-contact {
    margin-top: rem(211);
    margin-bottom: rem(95);
    @include mq() {
        margin-top: rem(143);
        margin-bottom: rem(80);
    }
}

.sub-contact__inner {

}

.inner {

}

.sub-contact__title {

}

.sub-contact__body {
    margin-top: rem(82);
    @include mq() {
        margin-top: rem(41);
    }
}

.sub-contact__check {
    margin-top: rem(60);
    display: flex;
    justify-content: center;
}

.sub-contact__check label {
    position: relative;
}

[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

[type='checkbox']:checked + .wpcf7-list-item-label::before {
    border-top: none;
    border-left: none;
    background-color: transparent;
    top: 0;
    left: rem(2);
    transform: rotate(45deg);
    width: rem(11);
    border-width: 2px;
}

[type='checkbox']:focus + .wpcf7-list-item-label::before {
    outline: $main-black 3px solid;
}

[type='checkbox']:checked:focus + .wpcf7-list-item-label::before {
    outline: none;
}

.wpcf7-list-item-label {
    position: relative;
    padding-left: rem(35);
    @include mq() {
        padding-left: rem(28);
        font-size: rem(15);
    }
}

.wpcf7-list-item-label::before {
    content: "";
    width: rem(20);
    height: rem(20);
    border: 1px solid $main-black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all .2s ease 0s;
    @include mq() {
        width: rem(18);
        height: rem(18);
    }

    &:hover {
        border: 2px solid $main-black;
    }
}

.sub-contact__link a:hover {

}

.wpcf7-list-item-label a {
    text-decoration: underline;
}

.wpcf7-list-item-label a:focus {
    outline: $main-black 2px solid;
}

.wpcf7-list-item-label a:hover {
    color: $accent;
}

.sub-contact__submit {
    margin: rem(38) auto 0;
    max-width: rem(480);
    @include mq() {
        margin-top: rem(42);
    }
}