@use 'global' as *;

.sub-news {
    margin-top: rem(265);
    margin-bottom: rem(148);
    @include mq() {
        margin-top: rem(143);
        margin-bottom: rem(74);
    }
}

.sub-news__body {
    margin-top: rem(137);
    @include mq() {
        max-width: rem(600);
        margin: rem(64) auto 0;
    }
}

.sub-news__list {

}

.sub-news__item {
    padding-bottom: rem(75);
    border-bottom: 1px solid $border-gray;
    @include mq() {
        padding-bottom: rem(37);
    }
}

.sub-news__item + .sub-news__item {
    padding-top: rem(74);
    @include mq() {
        padding-bottom: rem(37);
    }
}

.sub-news__meta {
    display: flex;
    gap: rem(81);
    align-items: center;
    @include mq() {
        flex-direction: column;
        align-items: start;
        gap: rem(12);
    }
}

.sub-news__meta time {
    font-family: $second-font-family;
    font-size: rem(16);
    line-height: calc(28 / 16);
    letter-spacing: 0.1em;
    @include mq() {
        font-size: rem(14);
    }
}

.sub-news__subTl {
    font-size: rem(36);
    line-height: calc(50 / 36);
    font-weight: $semi-bold;
    @include mq() {
        font-size: rem(28);
    }
}

.sub-news__contents {
    margin-top: rem(75);
    @include mq() {
        margin-top: rem(20);
    }
}

.sub-news__pagenation {
    margin-top: rem(149);
    text-align: center;
    @include mq() {
        margin-top: rem(74);
    }
}

.sub-news__btn {
    max-width: rem(240);
    margin: rem(54) auto 0;
}