@use 'global' as *;

.top-news {
    padding-top: rem(130);
    padding-bottom: rem(221);
    @include mq() {
        padding-top: rem(65);
        padding-bottom: rem(110);
    }
}

.top-news__items {
    margin-top: calc(rem(133) - rem(48));
    @include mq() {
        margin-top: calc(rem(61) - rem(32));
        margin-right: auto;
        margin-left: auto;
        max-width: rem(650);
    }
}

.top-news__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-gray;
    padding-bottom: rem(38);
    padding-top: rem(48);
    @include mq() {
        gap: rem(8);
        flex-direction: column;
        padding-top: rem(32);
        padding-bottom: rem(24);
    }
}

.top-news__item {

}

.top-news__meta {
    padding-left: rem(80);
    width: rem(320);
    @include mq() {
        padding-left: rem(10);
        width: 100%;
    }
}

.top-news__time {
    font-family: $second-font-family;
    font-size: rem(16);
    line-height: calc(28 / 16);
    @include mq() {
        font-size: rem(15);
    }
}

.news__contents {
    width:  calc(100% - rem(320));
    @include mq() {
        padding-left: rem(10);
        width: 100%;
    }
}

.top-news__btn {
    max-width: rem(480);
    margin: rem(80) auto 0;
    @include mq() {
        margin-top: rem(40);
        max-width: rem(300);
    }
}