@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1200px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Noto Sans JP", serif;
$second-font-family: "Noto Sans", serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #000;
$main-black: #333;
$white: #fff;
$bg: #fffef4;
$accent: #8a3c00;
$red: #ff0000;
$gray: #c3c0c0;
$placeholder: #c7c7bf;
$border-gray: #77787b;

body {
  font-family: $base-font-family;
  font-weight: $regular;
  background-color: $bg;
  color: $main-black;
}

body.js-open {
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}