@use 'global' as *;

.btn {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: $second-font-family;
    font-size: rem(18);
    font-weight: $bold;
    line-height: calc(40 / 18);
    padding: rem(9) rem(15) rem(8);
    border-radius: rem(10);
    transition: all .3s ease 0s;
    cursor: pointer;
    border: 1px solid $main-black;
    @include mq() {
        padding: rem(9) rem(15);
    }
}

.btn:hover {
    color: $white;
    background-color: $accent;
    border-color: $white;
}

.btn--contact {
    font-family: $base-font-family;
    padding: rem(16) rem(15) rem(15);
}

.btn--submit {
    font-family: $base-font-family;
    padding: rem(12) rem(15) rem(11);
}

.btn--not-found {
    font-family: $base-font-family;
}

.btn--works {
    font-family: $base-font-family;
    @include mq() {
        font-size: rem(15);
        padding: rem(6) rem(15);
    }
}