@use 'global' as *;

.footer {
    margin-bottom: rem(70);
    @include mq() {
        margin-bottom: rem(20);
    }
}

.footer__nav {
    max-width: rem(1160);
    margin-right: 0;
    margin-left: rem(33);
    border-bottom: 1px solid $gray;
    padding-bottom: rem(21);
    @include mq() {
        margin-left: auto;
        padding-bottom: rem(42);
    }
}

.footer__items {
    display: flex;
    align-items: center;
    @include mq() {
        flex-wrap: wrap;
        justify-content: center;
        column-gap: rem(16);
        row-gap: rem(8);
    }
}

.footer__item a {
    text-transform: uppercase;
    display: inline-block;
    font-size: rem(16);
    line-height: calc(29 / 16);
    font-weight: $semi-bold;
    padding-right: rem(16);
    padding-bottom: rem(20);
    @include mq() {
        padding: rem(10) rem(16);
    }
}

.footer__item + .footer__item a {
    padding-left: rem(16);
}

.footer__body {
    margin-top: rem(53);
    display: flex;
    align-items: center;
    gap: rem(42);
    @include mq() {
        margin-top: rem(48);
        flex-direction: column;
        gap: rem(40);
    }
}

.footer__logo {
    max-width: rem(269);
    @include mq() {
        max-width: rem(170);
    }
}

.footer__adress div {
    display: flex;
    align-items: center;
    gap: rem(37);
    @include mq() {
        flex-direction: column;
        align-items: start;
        gap: rem(8);
    }
}

.footer__adress div + div {
    @include mq() {
        margin-top: rem(28);
    }
}

.footer__text {
    font-size: rem(16);
    line-height: calc(28 / 16);
}

.footer__copyright {
    max-width: rem(1160);
    margin-left: rem(33);
    margin-top: rem(55);
    font-size: rem(13);
    line-height: calc(28 / 13);
    @include mq() {
        margin-top: rem(60);
        text-align: center;
        margin-left: auto;
    }
}

