@use "global" as *;

.pc-nav {
    height: inherit;
    @include mq() {
        display: none;
    }
}

.pc-nav__items {
    display: flex;
    height: inherit;
    align-items: center;
}

.pc-nav__item {
    height: inherit;
    padding: 0 rem(23);
}

.pc-nav__item a {
    font-size: rem(24);
    line-height: calc(29 / 24);
    font-weight: $semi-bold;
    font-family: $second-font-family;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
    padding: 0 rem(8);
    //上下中央揃え
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-nav__item a::after {
    content: '';
    background: $accent;
    width: 100%;
    height: rem(24);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    transition: .3s;
}

.pc-nav__item a:hover {
    color: $white;
}

.pc-nav__item a:hover::after {
    opacity: 1;
}

//アニメーション
.pc-nav__item:nth-child(2) {
    transition-delay: 0.15s;
}
.pc-nav__item:nth-child(3) {
    transition-delay: 0.3s;
}
.pc-nav__item:nth-child(4) {
    transition-delay: 0.45s;
}
.pc-nav__item:nth-child(5) {
    transition-delay: 0.6s;
}